@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

table#table-info tr td {
    font-size: 18px;
}

table#table-likelihood-definition th,
table#table-likelihood-definition td {
    text-align: center;
}